@model MarkelApp.Models.Submission

<form method="post" asp-action="Create">
    <div class="border p-3">
        <h2 class="text-black-50 pl-3">Create Submission</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubmissionName"></label>
                </div>
                <div class="col-4">
                    <label asp-for="CustomerId"></label>
                </div>
                <div class="col-4">
                    <label asp-for="SubmissionDetails"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <input asp-for="SubmissionName" class="form-control" />
                </div>
                <div class="col-4">
                    <input asp-for="CustomerId" class="form-control" />
                </div>
                <div class="col-4">
                    <input asp-for="SubmissionDetails" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-2 text-center row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Create"/>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary w-75" asp-action="Index">Return to Submissions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>