@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Markel Magic</h1>
    <p>Welcome to my Interview Project for Markel! Here I will demonstrate my ability to work within Visual Studio writing in C# and communicating with a SQL database via basic CRUD operations. Thank you all for your time!</p>
</div>
