@model MarkelApp.Models.Analysis

<form method="post" asp-action="Create">
    <div class="border p-3">
        <h2 class="text-black-50 pl-3">Create Analysis</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="SubmissionId"></label>
                </div>
                <div class="col-6">
                    <label title="Aggregate Limit"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <input asp-for="SubmissionId" class="form-control" name="SubmissionId"/>
                </div>
                <div class="col-6">
                    <input class="form-control" name="AggLimit"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-2 text-center row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Create" />
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary w-75" asp-action="Index">Return to Analyses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>